<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Shop | eCommerce</title>
  <meta name="description" content>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/css/slicknav.css">
  <link rel="stylesheet" href="assets/css/flaticon.css">
  <link rel="stylesheet" href="assets/css/progressbar_barfiller.css">
  <link rel="stylesheet" href="assets/css/lightslider.min.css">
  <link rel="stylesheet" href="assets/css/price_rangs.css">
  <link rel="stylesheet" href="assets/css/gijgo.css">
  <link rel="stylesheet" href="assets/css/animate.min.css">
  <link rel="stylesheet" href="assets/css/animated-headline.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="assets/css/themify-icons.css">
  <link rel="stylesheet" href="assets/css/slick.css">
  <link rel="stylesheet" href="assets/css/nice-select.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>



  <header>

    <div class="header-area">
      <div class="main-header header-sticky">
        <div class="container-fluid">
          <div class="row menu-wrapper align-items-center justify-content-between">
            <div class="header-left d-flex align-items-center">

              <div class="logo">
                <a href="index.html"><img src="assets/img/logo/logo.png" alt></a>
              </div>

              <div class="logo2">
                <a href="index.html"><img src="assets/img/logo/logo2.png" alt></a>
              </div>

              <div class="main-menu  d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="/getuserproduct">Product</a></li>
             
                    <li><a href="/logout">LogOut</a></li>

                  </ul>
                </nav>
              </div>
            </div>
            <div class="header-right1 d-flex align-items-center">
          
             
                
                  <div class="main-menu  d-none d-lg-block">
                    <nav>
                      <ul id="navigation">
                    
                     
                      
    <li><a href="#">My Account</a>
    <ul class="submenu">
    <li><a href="/userprofile">My profile</a></li>
    <li><a href="/getalladdress">My Address</a></li>
    <li><a href="card.html">My Wishlist</a></li>
    <li><a href="categories.html">My Orders</a></li>
    </ul>
    </li> 
 
    
                      </ul>
                    </nav>
                  </div>
                  <li>
                    <div class="card-stor">
                      <img src="assets/img/icon/card.svg" alt>
                      <span>0</span>
                    </div>
                  </li>
                
              
            </div>

            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>
